<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8"
<title>Elisabet Peterson, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	<h1>Elisabet Peterson, veebiprogrammeerimine</h1>
	<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
	<hr>
  <h2>Külasta veel</h2>
  <ul> 
  <li><a href="/eestifilm">Eesti film</a></li>
  <li><a href="/eestifilmiinimesed_add">Lisa Eesti filmi inimesi</a></li>
  <li><a href="/regvisit">Registreeri oma külastus</a></li>
  <li><a href="/">Avaleht</a></li>
</ul>
 
<h1>Eesti filmi inimesed</h1>
<ul><% personList.forEach(function(listItem){ %>
	<li><%= listItem.first_name %> <%= listItem.last_name %>, sündinud <%= listItem.born %></li>
	<% }); %>
  </ul>
</body>
</html>
