<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Galeriisse fotode lisamine</title>
</head>
<body>
  <img src="/vp_banner_2025_ID.jpg" alt="kursuse bänner">
  <p>Sisse loginud: <%= userName %></p>
	<h1>Vinge veebisüsteem</h1>
	<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
	<hr>
  <h1>Lae galeriisse fotosi</h1>

  <form method="POST" enctype="multipart/form-data">
    <label for="photoInput">Vali pildi fail</label>
    <input type="file" id="photoInput" name="photoInput">
    <br>
    <label for="altInput">Pildi alternatiivtekst</label>
    <input type="text" id="altInput" name="altInput" widht="200" placeholder="Sellel pildil on...">
    <br>
    <label>Vali privaatsustase</label>
    <br>
    <input type="radio" id="privacyInput1" name="privacyInput" value="1" checked>
    <label for="privacyInput1">Privaatne</label>
    <br>
    <input type="radio" id="privacyInput2" name="privacyInput" value="2">
    <label for="privacyInput2">Sisseloginud kasutajatele</label>
    <br>
    <input type="radio" id="privacyInput3" name="privacyInput" value="3" >
    <label for="privacyInput3">Avalik</label>
    <br>
    <input type="submit" id="photoSubmit" name="photoSubmit" value="Lae üles"><br><br>
  </form>

  <ul><li><a href="/logout">Logi välja</a></li></ul>
    

   <p><a href="/home">Avalehele</a></p>
</body>
</html>
