<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8"
<title>Elisabet Peterson, veebiprogrammeerimine</title>
</head>
<body>
 <img src="/vp_banner_2025_ID.jpg" alt="kursuse bänner">
 <p>Sisse loginud: <%= userName %></p>
	<h1>Vinge veebisüsteem</h1>
	<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
	<hr>
  
  <h2>Siit leiab</h2>
  <ul> 
  <li><a href="/logout">Logi välja</a></li>
  <li><a href="/galleryphotoupload">Lae fotosi galeriisse</a></li>
  <li><a href="/photogallery">Fotogalerii</a></li>
</ul>

</body>
</html>
