<!DOCTYPE html>
<html>
<head>
  <title>Minu Veeb</title>
</head>
<body>
  <h1>Tere tulemast!</h1>
  <img src="/vp_banner_2025_ID.jpg" alt="Bänner">
  <p><a href="/regvisit">Registreeri oma külastus</a></p>
</body>
</html>
