<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8">
<title>Eesti filmi seosed</title>
</head>
<body>
  <h1>Eesti filmi seosed</h1>
<ul><% person_in_movie.forEach(function(listItem){ %>
	<li><%= listItem.position_id %> <%= listItem.role %> <%= listItem.person_id %> <%= listItem.movie_id %></li>
	<% }); %>
  </ul>

  <p><a href="/seosed_add">Lisa uus seos</a></p>
  <p><a href="/">Avaleht</a></p>
</body>
</html>
