<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Loo kasutajakonto</title>
</head>
<body>
  <img src="/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	<h1>Elisabet Peterson, veebiprogrammeerimine</h1>
	<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
	<hr>
  <h1>Loo kasutajakonto</h1>

  <form method="POST">
    <label for="firstNameInput">Sisesta oma eesnimi: </label>
    <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ..." required>
	<br>
	<label for="lastNameInput">Sisesta oma perekonnanimi: </label>
    <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ..." required>
	<br>
	<label for="birthDateInput">Sisesta sünnikuupäev: </label>
	<input type="date" id="birthDateInput" name="birthDateInput" required>
	<br>
	<input type="radio" id="genderInput1" name="genderInput" value="1" checked>
	<label for="genderInput1">Mees</label>
	<br>
	<input type="radio" id="genderInput2" name="genderInput" value="2">
	<label for="genderInput2">Naine</label>
	<br>
	<label for="emailInput">E-mail (kasutajatunnuseks)</label>
	<input type="email" id="emailInput" name="emailInput" placeholder="Sinu e-mail ...." required>
	<br>
	<label for="passwordInput">Salasõna (min 8 märki)</label>
	<input type="password" id="passwordInput" name="passwordInput" required>
	<br>
	<label for="confirmPasswordInput">Korda salasõna</label>
	<input type="password" id="confirmPasswordInput" name="confirmPasswordInput" required>
	<br>
	<input type="submit" id="userSubmit" name="userSubmit" value="Loo kasutajakonto">
  </form>
  <p><%= notice%></p>

  <p><a href="/">Avalehele</a></p>
</body>
</html>
