<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Külastus salvestatud</title>
</head>
<body>
  <h2><%= firstName %> <%= lastName %> külastus on salvestatud.</h2>
  <p><a href="/">Avalehele</a></p>
  <p><a href="/regvisit">Registreeri uus külastus</a></p>
  <p><a href="/visitlog">Vaata kõiki külastusi</a></p>
</body>
</html>
