<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Külastuste logi</title>
</head>
<body>
  <img src="/vp_banner_2025_ID.jpg" alt="kursuse bänner">
	<h1>Elisabet Peterson, veebiprogrammeerimine</h1>
	<p> See leht on tehtud <a href="https://www.tlu.ee/dt">Tallinna Ülikooli</a> veebiprogrammerimise kursusel ja ei sisalda mõistlikku sisu. </p>
	<hr>
  <h1>Kõik külastused</h1>
  <ul>
    <% visits.forEach(function(line) { %>
      <li><%= line %></li>
    <% }); %>
  </ul>

  <p><a href="/">Avalehele</a></p>
  <p><a href="/regvisit">Lisa uus külastus</a></p>
</body>
</html>
