<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>K체lastuste logi</title>
</head>
<body>
  <h1>K천ik k체lastused</h1>
  <ul>
    <% visits.forEach(function(line) { %>
      <li><%= line %></li>
    <% }); %>
  </ul>

  <p><a href="/">Avalehele</a></p>
  <p><a href="/regvisit">Lisa uus k체lastus</a></p>
</body>
</html>
